/_templates/*
.DS_Store
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl

# .tfvars files
*.tfvars
*.tfvars.bak

# .tfplan files
*.tfplan

# .pem files
*.pem

# Crash log files
crash.log
crash.*.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc